.testimonial-section{
  position: relative;
}
.testimonial-content{
  display: grid;
  grid-template-columns: auto auto;
  max-width: 1440px;
  align-items: center;
  height: 720px;
  padding-top: 40px;
  position: relative;
  background-image: url("../../images/pattern-bg.svg");
  background-repeat: no-repeat;
  background-position: right 0px top 50px ;
  box-sizing: border-box;
  place-self: center;
 transition: 1s;
}

.testimonial-section{
  padding-bottom: 200px;
  
}

.testimonial-content .testimonial-quote blockquote h1,.testimonial-content .testimonial-quote p{
  padding-bottom: 40px;
  max-width: 32ch;
  position: relative;
 
}

.testimonial-content .testimonial-quote blockquote h1::before,.testimonial-content .testimonial-quote blockquote p::before{
  position: absolute;
  display: block;
  content: "";
  width: 120px;
  height: 100px;
  top: -65px;
  left: 100px;
  background-image: url("../../images/pattern-quotes.svg");
  background-repeat: no-repeat;
}

.testimonial-quote{
  z-index: 10;
  place-self: center;
  transform: translateY(50px);
}

.testimonial-quote blockquote{
  min-height: 320px;
}

.testimonial-content .testimonial-quote p{
  display: flex;
  gap: 16px;
}

.testimonial-content .img-user{
  transform: translateX(-58px);
  width: 540px;
  
  
}

.testimonial-content .img-user img{
  box-shadow: 0 2.5rem 3.125rem -1.875rem rgba(36, 36, 113, 0.495001);
}

.testimonial-content.john{
  
  display: none;
}

.testimonial-content.tanya{

  display: none;
}

.testimonial-content.felipe{

  display: none;
}

.testimonial-content.tanya.active{
  display: grid;
}

/*Botoes*/
.button-container{
  display: flex;
  position: absolute;
  border-radius: 20px;
  gap: 20px;
  padding: 8px;
  background-color: #fff;
  top: 628px;
  left: 656px;
 }

 .button-container button{
  border: none;
  background-color: #fff;
  cursor: pointer;
}


@media (max-width:1150px){
  .testimonial-content{
    grid-template-columns: 1fr;
    height: auto;
    background-size: 500px;
    background-position: top;
    
  }
  .button-container{
  top: 438px;
  left: 50%;
  transform: translate(-50%);
  }

  .testimonial-content .testimonial-quote blockquote h1::before,.testimonial-content .testimonial-quote blockquote p::before{
   background-size: 80px;
   background-repeat: no-repeat;
   top: 4px;
  }

  .testimonial-content .img-user{
    transform: translateX(0px);
    order: -1;
    place-self: center;
    width: 420px;
  }
  .testimonial-content .testimonial-quote blockquote h1,.testimonial-content .testimonial-quote blockquote p{
    padding-top: 40px;
    
  }
  .testimonial-quote{
    text-align: center;
    padding-bottom: 0px;
  }
  .testimonial-content .testimonial-quote p{
    justify-content: center;
  }

}

@media (max-width:600px){
 
  .testimonial-content .img-user{
    max-width: 250px;
  }
  .testimonial-content{
    background-size: 320px;
    background-position: center top 10px;
  }
  .testimonial-quote{
    padding-bottom: 60px;
  }
  .testimonial-quote blockquote{
    min-height: 240px;
  }
  .testimonial-content .testimonial-quote p{
    flex-direction: column;
    gap: 5px;
  }
  .testimonial-content .testimonial-quote blockquote h1::before,.testimonial-content .testimonial-quote blockquote p::before{
    background-size: 60px;
    background-repeat: no-repeat;
    top: 18px;
    left: 120px;
   }
   .main{
    display: block;
  }

  .button-container{
    top: 266px;
    left: 50%;
    transform: translate(-50%);
    }
}

@media (max-width:375px){
  .testimonial-content .testimonial-quote h1::before{
    left: 120px;
  }
  .testimonial-content .img-user{
    max-width: 254px;
  }
  .testimonial-content{
    margin: 0px 20px;
    background-size: 320px;
    background-position: right -0px top 15px;
  }
  
  .testimonial-section{
    padding-bottom: 50px;
   }
   .testimonial-content .testimonial-quote h1{
    padding: 20px 0px;
    max-width: 28ch;
  }

}



